@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf');
}

.container{
	display: table;
  	width: 100%;
}

.leftSide{
	background-color: #292929;
	position: absolute;
	height: 100%;
	width: 40%;
	left: 0px;
	top:0px;
}

.rightSide{
	background-color: #333333;
	position: absolute;
	height: 100%;
	right: 0px;
	width: 60%;
	top:0px;
	color: white;
	font-family: 'Roboto'
}

.rightSideNewsletter{
	background-color: #333333;
	position: absolute;
	height: 100%;
	right: 0px;
	width: 60%;
	top:0px;
	text-align: center;
}

.arrowRight{
	width: 0; 
 	height: 0; 
  	border-top: 180px solid transparent;
  	border-bottom: 180px solid transparent;
  	border-left: 180px solid #333333;
}

.arrowContainerRight{
	margin-top: 30%;
}

.arrowContainerBottomRight{
	margin-top: 6%;
}

.logo{
	position: absolute;
    height: 10%;
    width: 22%;
    top: 20px;
    left: 20px;
}

.bigLogo{
  	top: 30%;
    left: 10%;
    position: relative;
}

.textContainer{
	width:300px;

	color:white;
	font-family: 'Roboto';
}

.textContainerSlideshow{
	width: 400px;
	margin-left: 20px;
	color:white;
	font-family: 'Roboto';
}

.textContainerContact{
	margin-top: 100px;
	margin-left: 20px;
	font-family: 'Roboto';
	color: white;
}

.textContainerPiano{
	margin-left:225px;
	margin-top: 100px;
	text-align:center;
	font-size: 25px;
	width:400px;
}

.newsletterSignup{
	color:white;
	display:inline-block;
	margin-top: 20%;
	width:400px;
	font-size: 25px;
	font-family: 'Roboto';
}

.bigText{
	font-size: 23px;
}

.smallText{
	font-size: 14px;
	opacity: 0.8;
}

.greenText{
	font-size: 23px;
	color: #2AAE63;
}

.slides{
	height:88%;
}

.slideshowItem{
	display: block;
	padding: 15px;
	width: 450px;
    margin: 0 auto;
}

.secondSlideshowItem{
	display: block;
	padding: 15px;
	padding-top: 8%;
	width: 450px;
    margin: 0 auto;
}

.image{
	float:left;
	margin-right: 15px;
}

.dots{
	text-align:center;
}

.dot{
	cursor: pointer;
 	height: 15px;
  	width: 15px;
  	margin: 0 2px;
  	background-color: #333333;
  	border-radius: 50%;
  	border: solid 4px #2AAE63;
  	display: inline-block;
  	transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #2AAE63;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.copyrightText{
	text-align: center;
}
.arrowBottomRight{
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 250px solid #2AAE63;
	border-left: 1050px solid transparent;
	margin-bottom: 30px;
}

.pianoWrapper{
	height: 25%;
	width: 100%;
	position: absolute;
	bottom:180px;
	z-index: 5;


}

.wrapper {
	position: absolute;
	height:5%; 
	bottom:0;
	left: 0;
	z-index: 5;
}

.piano {
  display: block;
  width: 100%;
  height: 180px;
  left:0;
  margin-left: 26px;
  z-index: 5;

}

.piano .whiteKey {
  list-style: none;
  float: left;
  display: inline;
  background: #aaa;
  width: 72px;
  position: relative;
  z-index: 5;
}

/* White keys */
.anchor {
  display: block;
  height: 170px;
  background: #fff;
  border: 3px solid #333333;
  z-index: 5;

}

.anchor:active {
  display: block;
  height: 170px;
  background: #696969;
  border: 3px solid #333333;
  z-index: 5;
}

/* Black keys */
.piano .blackKey {
  position: absolute;
  top: 0px;
  left: -12px;
  width: 25px;
  height: 120px;
  background: #333333;
  z-index: 10;
  border-width: 1px 2px 7px;
  z-index: 5;
}

.newsletterSignup{
	color:white;
	display:inline-block;
	margin-top: 20%;
	width:400px;
	font-size: 25px;
	font-family: 'Roboto';
}

.email{
	border: none;
	background: #333333;
    border-bottom: 2px solid white;
    padding:10px;
    margin-bottom: 20px;
    width: 80%;
    font-size:25px;
    color:white;
}

.email:focus{
	outline: none;
}

.name{
	border: none;
	background: #333333;
    border-bottom: 2px solid white;
    padding:10px;
    margin-bottom: 20px;
    width: 80%;
    font-size:25px;
    color: white;
}

.name:focus{
	outline: none;
}

.agreement{
	margin-bottom: 20px;
}

.agreementContainer{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.agreementContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark{
	position: absolute;
  	top: 0;
  	left: 45px;
  	height: 20px;
  	width: 20px;
  	border: 3px solid white;

}	

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.agreementContainer input:checked ~ .checkmark:after {
  display: block;
}

.agreementContainer .checkmark:after {
  left: 7px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button{
	background-color: #292929;
    border: none;
    color: #2AAE63;
    padding: 20px;

    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    border-radius: 25px;
    width: 300px;
    cursor:pointer;
}

.button:focus{
	outline: none;
}

.turnOnKeyboard{
	float: right;
	position:relative;
	background-color: #292929;
    border: none;
    color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 255px;
    border-radius: 25px;
    width: 300px;
    cursor:pointer;

}

.turnOnKeyboard:focus{
	outline: none;
	color:#2AAE63;
}

.background{
	position: absolute;
	bottom: 0;
	width:100%;
	height: 171px;
	background-color:#404040;
	z-index: 0;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
